/* 
.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: #f0f2f5;
    padding: 0% 20% 30% 0%;
}


.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    height: 40vh;
    width: 40vw;
    padding: 20% 5% 18% 24%;
    
}

.right-container {
    border: .5px solid lightgray;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    height: 32vh;
    width: 60vw;
    margin-right: 30%;
    padding: 10px 45px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 2.5px 2.5px lightgray;
}

#facebook-logo {
    color: #0165E1;
    height: 5vh;
    width: 27vw;
    padding: 5% 50% 7% 5%;   
    font-size: 65px;
}

#home-page-info {
    text-align: left;
    padding: 10px 5px 24px;
    font-size: 25px;
}

.loginButton {
    background-color: #0165E1;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 6px;
}
.loginButton:hover {
    background-color: #0152E1; 
    color: white;
}

#login-email {
    border: 1px solid lightgray;  
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 6px;
}

#login-password {
    border: 1px solid lightgray;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 6px;
}

.signupButton {
    background-color: #4EAE01;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 8px 8px;
    width: 20vh;
    height: 4.5vh;
    border-radius: 6px;
} */

.home-page {
    display: flex;
    background: #f0f2f5;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    text-align: center;
    padding: 0% 20% 30% 0%;
}

.left-container {
    /* display: flex; */
    text-align: start;
    flex-direction: column;
    position: sticky;
    height: 200px;
    width: 390px;
    padding: 10px 125px 10px 22px;
}

.right-container {
    /* display: flex; */
    flex-flow: column;
    border: 1px solid lightgray;
    background: white;
    border-radius: 6px;
    margin-right: 7%;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 2.5px 2.5px lightgray;
}

.borderline {
    border: 1px solid lightgray;
    position: sticky;
    width: 262px;
}

#facebook-logo {
    color: #0165E1;
    font-size: 65px;
    padding: 5px 5px 5px 24px;
    
}

#home-page-info {
    font-size: 3.51vh;
    padding: 0px 25px 24px 20px;
    
}

.loginButton {
    background-color: #0165E1;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 6px;
    height: 5vh;
    width: 259px;
}

.loginButton:hover {
    background-color: #0152E1; 
    color: white;
}

#login-email {
    border: 1px solid lightgray;  
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 6px;
}

#login-password {
    border: 1px solid lightgray;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 6px;
}

.signupButton {
    background-color: #4EAE01;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 8px 8px;
    width: 25vh;
    height: 5vh;
    border-radius: 6px;
}

.line-break {
    height: 10px;
}