.profile-menu-container {
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

.profilepage-container {
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
}
.upper-container {
  display: flex;
  justify-content: center;
  height: 460px;
}
.upper-container-top {
  align-items: center;
  padding-top: 40px;
  /* padding-left: 20%;
  padding-right: 20%; */
  background: rgb(255, 255, 255);
  height: 100px;
}
.upper-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 100px;
  /* padding-left: 20%;
  padding-right: 20%; */
}
.under-upper-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 240px;
  height: 50px;
}
.background-photo {
  padding-top: 20px;
  width: 1070px;
  border: 1px solid white;
  height: 300px;
  border-radius: 12px;
  background: lightgray;
}
.user-username {
  height: 95px;
  width: 780px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* border: 1px solid white; */
  border-radius: 12px;
  font-size: 42px;
}
.profile-picture-spot {
  /* padding-left: 80px; */
  /* padding-right: 80px; */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  margin-left: 4%;
  background-color: lightgray;
  border: 5px solid white;
}
.lower-container {
  background: rgb(240, 242, 245);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 100px;

  padding-top: 20px;
}

.intro {
  border: 1px solid lightgray;
  /* height: 260px; */
  height: 40%;
  width: 320px;
  padding-top: 15px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  box-shadow: 1px 1px 2.5px 2.5px lightgray;
}
.intro > div {
  padding: 10px;
}
.bio-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* width: 250px; */
  /* height: 30px; */
  overflow-wrap: break-word;
}
.button-wrapper1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5%;
}
.save-bio-button {
  border: 1px lightgray;
  background-color: rgb(48, 144, 255);
  border-radius: 6px;
  color: white;
}
.cancel-bio-button {
  border: 1px lightgray;
  border-radius: 6px;
}
.details-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.default-profile:hover {
  fill: rgb(49, 107, 189);
}

.add-bio-button {
  border: 1px solid lightgray;
  border-radius: 6px;
  font-weight: 700;
}
.add-hobbies-button {
  border: 1px solid lightgray;
  border-radius: 6px;
  font-weight: 700;
}
.add-featured-button {
  border: 1px solid lightgray;
  border-radius: 6px;
  font-weight: 700;
}
